<div class="section mt-5">
    <div class="container">
        <h1 class="h2 text-center" id="about-header">
            On a journey to move into the world of tech
        </h1>
    </div>
</div>

<div class="section">
    <div class="container-fluid py-md-1">
        <div class="row text-center">
            <div class="col-md-3 col-6">
                <img src="./images/womens-euros-final.png" alt="" class="img-fluid w-75 my-5" id="img1">
            </div>
            <div class="col-md-3 col-6">
                <img src="./images/cineworld-vip.png" alt="" class="img-fluid w-75 my-5" id="img2">
            </div><div class="col-md-3 col-6">
                <img src="./images/butterfly-trail.png" alt="" class="img-fluid w-75 my-5" id="img3">
            </div><div class="col-md-3 col-6">
                <img src="./images/genshin-concert.png" alt="" class="img-fluid w-75 my-5" id="img4">
            </div>
        </div>
    </div>
</div>

<div class="section my-2">
    <div class="container px-5 about-txt-container">
        <div class="about-txt">
            <p class="lead">
                Hi! I'm Sanna, currently on the journey to transition to tech from the healthcare sector. 
            </p>
        </div>
        <div class="about-txt">
            <p class="lead">
                Over the last few months, I've jumped into the world of web design and development thanks to <a href="https://thecodersguild.org.uk/course-directory/get-hired-as-a-software-developer/" target="_blank"> The Coders Guild's Skills Bootcamp. </a>
            </p>
        </div>
        <div class="about-txt">
            <p class="lead">
                Having completed my bootcamp, I am now seeking a role where I can leverage my new found skills (as well as my previous <a href="https://www.sannadgtl.com/" target="_blank">product design skills</a>) and continue my professional growth.
            </p>
        </div>
        <div class="about-txt">
            <p class="lead">
                When I'm not treating my patients or developing my tech skills, you can often find me in the local cinema, or on a train to explore the sights of London.
            </p>
        </div>
        <div class="about-txt">
            <p class="lead">
                If you believe I could be a great for your company, or if you simply want to chat, don't hesitate to reach out 😄
            </p>
        </div>
    </div>
</div>

<script>
    window.addEventListener("DOMContentLoaded", function () {
        window.sr = ScrollReveal(); 
        sr.reveal("#about-header", {
            delay: 10,
            useDelay: 'onload',
            origin: 'bottom',
            distance: '50%',
            duration: 1500
        });
        sr.reveal("#img1", {
            delay: 310,
            useDelay: 'onload',
            origin: 'bottom',
            distance: '50%',
            duration: 1000
        }); 
        sr.reveal("#img2", {
            delay: 610,
            useDelay: 'onload',
            origin: 'bottom',
            distance: '50%',
            duration: 1000
        }); 
        sr.reveal("#img3", {
            delay: 810,
            useDelay: 'onload',
            origin: 'bottom',
            distance: '50%',
            duration: 1000
        }); 
        sr.reveal("#img4", {
            delay: 1010,
            useDelay: 'onload',
            origin: 'bottom',
            distance: '50%',
            duration: 1000
        }); 
    }); 
</script>