<div class="container">
    <div class="row">
        <div class="col-md-6 mb-5">
            <h3 class="text-center mb-2">Drink Flavour</h3>
            <form action="" id="flavour" class="d-flex justify-content-center align-items-center">
                <fieldset class="cola">
                    <input class="form-check-input" type="radio" name="flavour" value="cola">
                    <label class="form-check-label" for="cola">Cola</label>
                </fieldset>
                <fieldset class="lemon">
                    <input class="form-check-input" type="radio" name="flavour" value="lemon">
                    <label class="form-check-label" for="lemon">Lemon</label>
                </fieldset>
                <fieldset class="orange">
                    <input class="form-check-input" type="radio" name="flavour" value="orange">
                    <label class="form-check-label" for="orange">Orange</label>
                </fieldset>
            </form>
        </div>
        <div class="col-md-6 mb-5">
            <h3 class="text-center mb-2">Drink Size</h3>
            <form action="" id="size" class="d-flex justify-content-center align-items-center">
                <fieldset class="button align">
                    <input class="form-check-input" type="radio" name="size" value="Small">
                    <label class="form-check-label" for="Small">Small</label>
                </fieldset>
                <fieldset class="button">
                    <input class="form-check-input" type="radio" name="size" value="Medium">
                    <label class="form-check-label" for="medium">Medium</label>
                </fieldset>
                <fieldset class="button">
                    <input class="form-check-input" type="radio" name="size" value="Large">
                    <label class="form-check-label" for="large">Large</label>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="section text-center pb-5">
    <button class="button" id="submit-btn">Submit Order</button>
    <h1 id="order"></h1>
</div>

<script src="/drinkorder.js"></script>
