<form id="form" class="text-center my-4">
    <div class="radio-group mb-3">
        <div class="form-check">
            <input type="radio" name="country" value="England">
            <label for="">England</label>
        </div>
        <div class="form-check">
            <input type="radio" name="country" value="Japan">
            <label for="">Japan</label>
        </div>
        <div class="form-check">
            <input type="radio" name="country" value="South Korea">
            <label for="">South Korea</label>
        </div>

        <div class="form-check">
            <input type="radio" name="country" value="Spain">
            <label for="">Spain</label>
        </div>            

        <div class="form-check">
            <input type="radio" name="country" value="All" checked>
            <label for="">Show All</label>
        </div>
    </div>
    <div>
        <label>Search:</label>
        <input type="search" id="search"> <br>
    </div>
</form>

<h1 class="h4 mb-3" id="helper-text"></h1> 

<img class="imageFilter" country="England" loading="lazy" src="./images/filter/england1.jpg" alt="London cityscape with Big Ben Clock Tower and Houses of Parliament along the Thames River in England">

<img class="imageFilter" country="South Korea" loading="lazy" src="./images/filter/korea1.jpg" alt="An aerial view of Busan South Korea at night">

<img class="imageFilter" country="Spain" loading="lazy" src="./images/filter/spain1.jpg" alt="An aerial view of Barcelona Spain">

<img class="imageFilter" country="Japan" loading="lazy" src="./images/filter/japan1.jpg" alt="A street in Osaka Japan featuring a woman riding a bike">

<img class="imageFilter" country="South Korea" loading="lazy" src="./images/filter/korea2.jpg" alt="Cityscape view of Seoul South Korea featuring traditional buildings">

<img class="imageFilter" country="England" loading="lazy" src="./images/filter/england2.jpg" alt="A waterfront view of Albert Dock in Liverpool England">

<img class="imageFilter" country="England" loading="lazy" src="./images/filter/england3.jpg" alt="Big Ben Clock Tower and Houses of Parliament in London England">

<img class="imageFilter" country="Spain" loading="lazy" src="./images/filter/spain2.jpg" alt="A sunset aerial view of Gran Via located in Madrid Spain">

<img class="imageFilter" country="Japan" loading="lazy" src="./images/filter/japan2.jpg" alt="An aerial view of Tokyo's Shibuya crossing at night in Japan">

<img class="imageFilter" country="South Korea" loading="lazy" src="./images/filter/korea3.jpg" alt="A urban scene in Seoul South Korea at dusk featuring neon light">

<img class="imageFilter" country="Spain" loading="lazy" src="./images/filter/spain3.jpg" alt="An aerial view of Camp Nou, home of Barcelona Football Club">

<img class="imageFilter" country="Japan" loading="lazy" src="./images/filter/japan3.jpg" alt="A cityscape of Tokyo Japan at night illuminated by neon lights">

<img class="imageFilter" country="England" loading="lazy" src="./images/filter/england4.jpg" alt="Leeds Town Hall located in Leeds England">

<img class="imageFilter" country="South Korea" loading="lazy" src="./images/filter/korea4.jpg" alt="A cityscape of Seoul South Korea with neon lights illuminating the downtown area">

<img class="imageFilter" country="Spain" loading="lazy" src="./images/filter/spain4.jpg" alt="An aerial view of a bell tower in Valencia, Spain">

<script src="/filter.js"></script> 