<div class="section footer">
    <footer class="container p-5">
        <h3 class="h4 text-center">Want to chat?</h3>
        <h3 class="h5 text-center">Get in touch!</h3>
        <div class="container text-center">
            <a href=""><i class="bi bi-linkedin icon-colour"></i></a> 
            <a href=""><i class="bi bi-envelope icon-colour"></i></a>
        </div>
    </footer>
</div>