<div class="section">
    <div class="container outer-headings">
        <h1 class="h3 text-center">Hey 👋, I'm Sanna
            <div class="animation-container">
                <div class="inner-headings">
                    <ul class="text-center" id="hero">
                    </ul>
                </div>
            </div>
        </h1>
    </div>
</div>

<script src="/hero.js"></script>