<div class="section border">
    <div class="container outer-headings">
        <h1 class="h3 text-center">Hey 👋, I'm Sanna
            <div class="animation-container">
                <div class="inner-headings">
                    <span>
                        Web Designer <br>
                        Web Developer <br>
                    </span>
                </div>
            </div>
        </h1>
    </div>
</div>