<div class="container border border-dark mb-3">
    <div class="d-md-flex justify-content-between align-items-center px-2">
        <div class="col-md-9 border border-dark">
            <h1 class="text-center">hi!</h1>
            <h1 class="h2 text-center">hello</h1>
        </div>
    <div class="col-md-3 border border-dark">
        <img class="img-fluid rounded mx-auto d-block" src="./images/temp.png" alt="">
    </div>
    </div>
</div>