---
layout: "base.njk"
---
<div class="container mt-5 pb-5">
  <h2 class="h1 text-center"> {{ title }} </h2>

  <h3 class="text-center pb-5 mb-5 summary"> {{ summary }} </h3>
  
  {{ content | safe }}
</div>