<div class="col-md-4 p-3">
  <img src="{{ project.data.image }}" alt="" class="img-fluid mx-auto d-block border">
  <div class="container-fluid pt-4 border">
    <p class="lead">
      {{ project.data.title }} <br>
      <span>{{ project.data.summary }}</span>
    </p>
    <a href="{{ project.data.projectPageUrl }}" class="btn btn-primary mb-3">View Project</a>
  </div>
</div>