<div class="section">
  <div class="container-fluid">
    <h2 class="h5 text-center mt-4">Recent Projects:</h2>
  </div>
  <div class="row align-items-center justify-content-between mx-3">
    {% for project in collections.projects %}
      {% include "project-card.njk"%}
    {% endfor %}
  </div>
</div>
