{# <section class="projects">
  <h2 class="project__heading">Recent projects</h2>
  <div class="project-grid">
    {% for project in collections.projects %}
      {% include "project-card.njk" %}
    {% endfor %}
  </div>
</section> #}

<div class="container my-5 py-5">
    <h2 class="h3 text-center">Recent Projects:</h2>
    <div class="d-md-flex justify-content-between align-items-center my-3 py-3">
        {% for project in collections.projects %}
            {% include "project-card.njk"%}
        {% endfor %}
    </div>
</div>
