<div class="container">
    <div class="row">
        <div class="col-md-6 mb-5">
            <h3 class="text-center mb-2">Bill Amount</h3>
            <form action="" class="d-flex justify-content-center">
                <input type="number" id="billAmount" placeholder="Enter number above 0.01">
            </form>
        </div>
        <div class="col-md-6 mb-5">
            <h3 class="text-center mb-2">Tip Percentage</h3>
            <form action="" class="d-flex justify-content-center">
                <input type="number" id="tipPercentage" placeholder="Enter number between 0 and 100">
            </form>
        </div>
    </div>
</div>
<div class="section text-center pb-5">
    <button class="button mb-5" id="total-button">Calculate Total</button>
    <h1 id="totalBill">Your total bill with tip is: </h1>
</div>

<script src="/tipcalc.js"></script>