---
title: "My Projects"
layout: "base.njk"
---

<div class="container mt-5">
    <h2 class="text-center">Projects:</h2>
    <div class="d-md-flex justify-content-between align-items-center">
        {% for project in collections.projects %}
            {% include "project-card.njk" %}
        {% endfor %}
    </div>
</div>