---
title: "Eleventy Portfolio"
layout: "base.njk"
---

{# <h2 class="projects__heading">Recent projects</h2>
<div class="project-list">
  {% for project in collections.projects %}
    {% include "project-card.njk" %}
  {% endfor %}
</div> #}

{# <div class="container border border-dark">
    <h2 text-center>Projects</h2>
    <div class="row justify-content-center">
        {% for project in collections.projects %}
            {% include "project-card.njk" %}
        {% endfor %}
    </div>
</div> #}

<div class="container">
    <h2 text-center>Projects</h2>
    <div class="d-md-flex justify-content-between align-items-center">
        {% for project in collections.projects %}
            {% include "project-card.njk" %}
        {% endfor %}
    </div>
</div>