* body {
    font-family: "Karla";
}

/* navbar */
.navbar {
    background-color: #C2E0F2;
}

/* hero section */
.outer-headings {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animation-container {
    border: 0.5px solid black;
    border-radius: 5rem;
    margin-block: 1rem;
}

.inner-headings {
    height: 55px;
    line-height: 55px;
    font-size: 45px;
    overflow: hidden;
    margin-block: 1rem;
    padding-inline: 2rem;
}

.inner-headings span {
    position: relative;
    display: inline-block;
    animation: animation 5s ease-in-out infinite; 
}

@keyframes animation {
    0% {
        top: 0;
    }
    33.33% {
        top: -55px;
    }
    66.66% {
        top: -110px;
    }
    100% {
        top: 0;
    }
}

/* individiual project card */
.lead span {
    font-size: 0.8rem;
}

.btn-primary {
    background-color: #272727;
    color: white;
}

/* footer */
.footer {
    background-color: #C2E0F2;
    border-radius: 1rem 1rem 0rem 0rem;
}

.icon-colour {
    color: #272727;
    font-size: 3rem;
}